.qSelector {
  padding: 48px 48px 32px 48px;
  box-shadow: 10px 10px 100px #4aca3070;
  border: 2px solid var(--primary-dark);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.passed {
  box-shadow: 10px 10px 100px var(--primary-errorWarningDark);
  border: 2px solid var(--primary-errorWarningDark);
}

.diffSpan {
  margin-left: 6px;
  font-style: italic;
  font-weight: bold;
  white-space: nowrap;
}

.labels {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  padding-left: 0;
  width: 300px;
  margin: 12px 0;
}

#diffSliderPassed {
  overflow: hidden;
  height: 12px;
  width: 275px;
  -webkit-appearance: none;
  background-color: transparent;
  border-radius: 12px;
}

#diffSliderPassed::-webkit-slider-runnable-track {
  height: 12px;
  width: 12px;
  -webkit-appearance: none;
  background-color: rgb(255, 246, 234);
  margin-left: 24px;
}

#diffSliderPassed::-webkit-slider-thumb {
  width: 12px;
  -webkit-appearance: none;
  height: 12px;
  cursor: pointer;
  border-radius: 50%;

  background-color: var(--primary-errorWarningDark);
  box-shadow: -140px 0px 0px 134px var(--primary-errorWarningLight);
}

@media screen and (max-width: 600px) {
  .qSelector {
    max-width: 100%;
    border: none;
    box-shadow: none;
  }
}
