.handleLongWord {
  max-height: 50px;
  overflow: visible;
  margin: 24px 0 24px 0;
}

.mL {
  margin-left: 3px;
  margin-right: 3px;
}

.question {
  position: relative;
  top: 10px;
  padding: 24px;
  width: 80vw;
  max-width: 400px;
  box-shadow: 10px 10px 100px #4aca3070;
  border: 2px solid var(--primary-dark);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alert {
  font-size: 13px;
  color: grey;
  position: relative;
  top: 16px;
}

.closeAlert {
  opacity: 0;
  cursor: default;
}

.fa-times {
  position: relative;
  top: 0;
  margin-left: 5px;
}

img {
  margin: 36px 0;
  max-height: 200px;
}

.options {
  width: 360px;
  height: 160px;

  row-gap: 5px;
  column-gap: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 0;
}

.optionLabel {
  border: 2px solid var(--primary-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  cursor: pointer;
  margin: auto;
}

.before:hover {
  border: 2px solid var(--primary-light);
  background-color: var(--primary-extremelyLight);
}

.optionLabel > .optionInput {
  /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
.optionLabel > .optionInput + .choice {
  /* DIV STYLES */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: inherit;
  font-weight: 550;
  font-size: larger;
}
.optionLabel > .optionInput:checked + .choiceNotWrong {
  /* (RADIO CHECKED) DIV STYLES */
  background-color: var(--primary-background);
  border: 3px solid var(--primary-border);
}

.borderNone {
  border: none;
}

.rightAnswer {
  background-color: var(--primary-background);
  border: 3px solid var(--primary-border);
}
.wrongAnswer {
  background-color: var(--primary-errorLight);
  border: 3px solid var(--primary-error);
}

.facit {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 24px;
}

@media screen and (max-width: 600px) {
  .question {
    border: none;
    box-shadow: none;
  }
  .options {
    position: relative;
    top: 12px;
    width: 300px;
  }
  .choice {
    padding: 12px 0;
  }
  .optionLabel {
    width: 150px;
  }
  img {
    max-height: 160px;
  }
}

@media screen and (max-width: 499px) {
  .before:hover {
    border: 2px solid var(--primary-dark);
    background-color: white;
  }
}
